// enable user to place text on background image

.hero-text {
    text-align: center;
    margin-top: 150px;
    top: 50%;
    left: 50%;
    
    font-size: 20px;
  }

//   sets font style for text on page

  .h2 {font-family: "Raleway", sans-serif}