// Hero text of email 

.hero-text {
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  color: #6B7E9F;
  font-size: 25px;
}
  .bg-transparent {
    background-color: transparent;
  }
  
  :host {
    height: 100%;
  }

  // Profile photo tag
  
  .photo {
    object-fit: contain;
  }

  
  .card {
    width: 20rem;
    margin: 0 auto;
  }
  
  .card-img-top{
    border-radius: 100px;
    margin-top: 100px;
    height: 150px;
    width: 150px;
  }

  
  .card-title{
    margin-top: 20px;
  }
  .card-text{
    margin-bottom: 20px;
  }